.container-fluid {
    font-family: Bahnschrift, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#dialogue-zone {
    border: black groove;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 60%;
    min-height: 100vh;
    background-color: aliceblue;
    position: relative;
}

#body {
    background-image: url("../pictures/background.jpg");
    background-position: center;
}

header, footer {
    background-color: gray;
    color: aliceblue;
    padding: 5px;
    text-align: center;
}

#map {
    height: 50%;
    width: 100%;
    border-top: black groove;
    position: fixed;
    position: absolute;
    bottom: 0;
}

#robot {
    width: 60px;
    height: 60px;
}

.logo {
    width: 10%;
    height: 10%;
}

#question {
    width: 100%;
}

#chat-box {
    margin-top: 10px;
}

.bubble-text {
    background: gray;
    color: aliceblue;
    padding:7px 15px;
    border-radius:3px;
    width: 90%;
    margin: 15px;
}

.bubble-text::after{
content:"";
border-left:20px solid transparent;
border-right:20px solid transparent;
border-top: 20px solid gray;
position: absolute;
}
