.container-fluid {
    font-family: Bahnschrift, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#dialogue-zone {
    border: black groove;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 60%;
    min-height: 100vh;
    background-color: aliceblue;
}

#body {
    background-image: url("../pictures/background.jpg");
    background-position: center;
}

header, footer {
    background-color: gray;
    color: aliceblue;
    padding: 5px;
    text-align: center;
}

#map {
    height: 300px;
    border-bottom: black groove;
}

#robot {
    width: 60px;
    height: 60px;
}

.logo {
    width: 10%;
    height: 10%;
}

#question {
    width: 100%;
}

#chat-box {
    margin-top: 10px;
}