<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <title>GrandPy Bot</title>

    <script src="../static/js/dialogue.js"></script>
    <script src="../static/js/google_maps.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUnRzCRahCsaUx5RhTeWALaFmSj5gh8Xg&callback=initMap" type="text/javascript"></script>

</head>

<body>

    <div class="container-fluid">

        <header class="row">
            <div class="col-xs-12">
                <h1>GrandPy Bot</h1>
                <img src="../static/pictures/robot.jpg" alt="Logo de robot" id="robot"/>
            </div>

        </header>

        <main id="body" class="row">
            <div id="dialogue-zone" class="center-block">
                <div id="chat-box" class="row center-block">
                    <div id="entry-zone">
                        <form onsubmit="generateResponse();return false;">
                            <label for="question">Pose ta question : </label>
                            <input type="text" name="question" id="question"
                               placeholder="Exemple : Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?">
                        </form>
                    </div>
                    <div id="answers" class="row">
                        <div class="bubble">
                           <div class="bubble-text">
                               <h4>Hello, je suis GrandPy Bot, donne moi un lieu, je te dirai ce qu'il y a à savoir dessus !</h4>
                           </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12" id="map"></div>
                </div>
            </div>
        </main>


        <footer class="row">
                <p>Clémence Mourot</p>
                <a href="https://github.com/ClemMourot/GrandPyBot">
                    <img src="../static/pictures/github_logo.png"  alt="Repository GitHub" class="logo"/>
                </a>
                <a href="https://www.linkedin.com/in/clémence-mourot-839490144/">
                    <img src="../static/pictures/linkedin_logo.png" alt="Profil LinkedIn" class="logo"/>
                </a>
        </footer>

    </div>

</body>

</html>
