<!DOCTYPE html>

<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>GrandPy Bot</title>

    <script src="../static/js/google_maps.js"></script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUnRzCRahCsaUx5RhTeWALaFmSj5gh8Xg&callback=initMap" type="text/javascript"></script>

</head>

<body id="page">

<header>
    <h1>GrandPy Bot</h1>
</header>

<div id="zone">
    <div id="dialog-box">
        <form>
            <label for="question">Pose ta question :</label>
            <input type="text" name="question" id="question"
                   placeholder="Exemple : Salut GrandPy ! Est-ce que tu connais l'adresse d'OpenClassrooms ?"
                   size="80">
        </form>
        <div id="map"></div>
    </div>



</div>


<footer>
    <div>
        <a>Clémence Mourot</a>
        <a href="https://github.com/ClemMourot/GrandPyBot">Repository GitHub</a>
        <a href="https://www.linkedin.com/in/clémence-mourot-839490144/">LinkedIn</a>

    </div>
</footer>

</body>

</html>
